<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.charlie.androidtweaks">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>

    <application>
        <activity android:name=".ui.TweakActivity"
                  android:theme="@style/TweakAppTheme"
                  android:launchMode="singleTask"
        >
        </activity>
        <service android:name=".window.TweakWindowService"
        />
        <service android:name=".shake.TweakShakeService"/>
    </application>

</manifest>